<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
     
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
</head>
<title>Eat-Dat-Burger!</title>
</head>
<body>
{{{body}}}
  <!-- JavaScript -->
<script src="/assets/burg.js"></script>
</body>
</html>
  